<div class="banner">
  <div class="background-cover" style= "background-image: linear-gradient(180deg, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.8) 90%), url(<%= cl_image_path current_user.cl_photo %>);">
    <div class="container flexbox white-center">

        <h2> Hello <%= @user.full_name %>!</h2>
        <p>You have given us this email address:
          <%= @user.email %>
        </p>
        <p>This is what others see about you:</p>
        <p class="card-text">
          <%= @user.about%>
        </p>
        <p>Is this still up to date?</p>
        <p><%= link_to edit_user_path(@user) do  %>
          <i class="fas fa-pencil-alt change"></i>
        <% end %></p>
        <% if current_user.politician? %>
          <% unless current_user.items == [] %>
            <ul>
             <li><h2>Here are you listings</h2></li>
             <% current_user.items.each do |item| %>
             <li><h3><%= item.category %></h3></li>
             <li><%= item.description %></li>
             <li><£<%= item.price %></li>
           <% end %>
           </ul>
          <% end %>
        <% end %>
        <% unless current_user.bookings == [] %>
        <ul>
         <li><h2>Here are your bookings</h2></li>
         <% current_user.bookings.each do |booking| %>
         <li>
           <p>You have a <strong><%= booking.item.description %></strong>, that belongs to <%= booking.item.user.full_name %>.
             <% unless booking.days.nil? %>
               You are renting it <strong>for <%= booking.days %> days</strong>
             <% end %>
             <% unless booking.total_price.nil? %>and the total price of it is <strong>£
               <%= booking.total_price %>.</strong>
             <% end %>
           </p>
         </li>
        <% end %>
        <% end %>

        <p> I hope this is all you expected to see here ...</p>
        </ul>
    </div>
  </div>
</div>

