<div class="body">
  <div class="container">
  <div class="col-lg-12 col-md-12 hide-sm">
      <div class="card">
          <img alt="Account Photo" class="img-responsive" height="225" src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Alesso_profile.png" title="Account Photo" width="225">
          <div class="card-body">
            <div>
              <h2> Hello <%= @user.full_name %>!</h2>
            </div>
            <p class="card-text">You have given us this email address:
              <%= @user.email %>
            </p>
          </div>
      </div>
   <div class="card">
      <div class="card-body">
        <h2>This is what others see about you:</h2>
        <p class="card-text">
          <%= @user.about%>
        </p>
        <p>Is this still up to date?<%= link_to edit_user_path(@user) do  %>
          <i class="fas fa-pencil-alt change"></i>
          <% end %></p>
      </div>
    </div>
   <div class="card">
      <div class="card-body">
          <div class="row">
            <% if current_user.politician? %>
              <% unless current_user.items == [] %>
                 <ul>
                  <li><h2>Here are you listings</h2></li>
                <% current_user.items.each do |item| %>
                  <li><h3><%= item.category %></h3></li>
                  <li><%= item.description %></li>
                  <li><£<%= item.price %></li>
                <% end %>
                </ul>
              <% end %>
            <% end %>
            <% unless current_user.bookings == [] %>
            <div>
            <ul>
              <li><h2>Here are your bookings</h2></li>
              <% current_user.bookings.each do |booking| %>
                <div>
                  <li>
                    <h3>You have a <strong><%= booking.item.description %></strong>, that belongs to <%= booking.item.user.full_name %>.
                      <% unless booking.days.nil? %>
                        You are renting it <strong>for <%= booking.days %> days</strong>
                      <% end %>
                      <% unless booking.total_price.nil? %>and the total price of it is <strong>£
                        <%= booking.total_price %>.</strong>
                      <% end %>
                    </h3>
                  </li>
               <% end %>
              <% end %>
            </div>
            <p> I hope this is all you expected to see here ...</p>
            </ul>
          </div>
          </div>
        </div>
      </div>
   </div>
  </div>
</div>


