<hr>
<div class="banner flexbox3" style="background-image: linear-gradient(180deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 50%), url(<%= image_path "parliament.jpg" %>);">
    <div class="banner-content flexbox_two">
      <h1><strong>POLITICIAN RENTAL</strong></h1>
      <p>Rent politicians' belongings</p>

    </div>
</div>
<!-- Things for rent container -->
<div class="container">
  <h2>Items for Rent</h2>
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-sm-4 col-xs-6 ">
        <div class="item-card-home whole-card">
          <div class="card-header">
            <p><%= item.user.full_name %></p>
            <%= link_to user_path(item.user) do %>
              <div class="card-header-avatar" style="background-image: url(<%= cl_image_path item.user.photo %>)"></div>
            <% end %>
          </div>
          <%= link_to item_path(item) do %>
            <div class="card-body" style="background-image: url(<%= image_path item.photo %>)">
            </div>
            <div class="card-footer">
              <h3><%= item.description %></h3>
              <p>£<%= item.price %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="footer">
  <!-- <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>

</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="flex-container-left">
        <h2>Items Free Now</h2>
        <div class="cards">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="item-card" style="background-image: url(<%= image_path #'logo.png' %>)">
                Logo
              </div>
            </div>
          </div>
           <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="item-card" style="background-image: url(images/logo.png)">
                Logo
              </div>
            </div>
          </div>
           <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="item-card" style="background-image: url(images/logo.png)">
                Logo
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="flex-container-right">
        <h2>Flash deals</h2>
        <div class="cards">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="item-card" style="background-image: url(images/logo.png)">
                Logo
              </div>
            </div>
          </div>
           <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="item-card" style="background-image: url(images/logo.png)">
                Logo
              </div>
            </div>
          </div>
           <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="item-card" style="background-image: url(images/logo.png)">
                Logo
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>

