<div class="container">
  <h2>Items by Owner</h2>

  <div class="cards-body">
    <div class="row">
      <% @users.each do |user| %>
        <div class="card-container col-xs-12 col-sm-6 col-md-3">
          <div class="card-index card<%=user.id%>">

            <div class="front" style="background-image:  linear-gradient(180deg, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.8) 90%), url(<%= cl_image_path user.cl_photo %>);">
              <% names = user.full_name.split(" ") %>
              <h2 id="first"><%= names.first %></h2>
              <h2 id="last"><%= names.last %></h2>
            </div>
            <div class="back flexbox">
              <ol>
                <% user.items.each do |item| %>
                  <li><p><%= item.description %>: <strong>£<%= item.price %></strong></p>
                    <% if current_user == user %>
                      <%= link_to item_path(item) do %>
                        <i class="fas fa-eye change"></i>
                      <% end %>
                      <%= link_to edit_item_path(item) do  %>
                        <i class="fas fa-pencil-alt change"></i>
                      <% end %>
                      <%= link_to item_path(item),
                          method: :delete,
                          data: { confirm: "Are you sure you want to delete #{user.full_name}?" } do %>
                        <i class="far fa-trash-alt change"></i>
                      <% end %>
                    <% elsif item.available %>
                      <%= link_to "View", item_path(item) %>
                    <% else %>
                      <p>Not Available</p>
                    <% end %>
                    <% if current_user == user %>
                      <%=  link_to new_item_path do %>
                        <i class="fas fa-plus" id="add"></i>
                      <% end %>
                    <% end %>
                  <% end %>
                </li>
              </ol>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
