<div class="container">
  <h1>Item List</h1>


  <div class="container">
    <div class="row">
      <% @items.each do |item| %>
        <%= link_to item_path(item) do %>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="item-card">
              <img src=item.photo alt="test" class="test">
                <div class="card-body">
                  <p class="card-description"> <%= item.description %>: £<%= item.price %> </p>
                  <p><%= item.user.full_name %></p>
                    <% if policy(item).edit? %>
                    <%= link_to "Update", edit_item_path(item) %>

                 <% end %>
                </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>




  <% if current_user.politician? %>
    <%= link_to new_item_path do %>
      <p>Add Item</p>
    <% end %>
  <% end %>
</div>

