<div class="container">
  <% if @item.category == "accommodation" %>
    <h1><%= @item.user.full_name %>'s crib</h1>
  <% elsif @item.category == "clothing" %>
    <h1><%= @item.user.full_name %>'s threads</h1>
  <% elsif @item.category == "transport" %>
    <h1><%= @item.user.full_name %>'s wheels</h1>
  <% else %>
    <h1><%= @item.user.full_name %>'s listing</h1>
  <% end %>
  <p><strong>£<%= @item.price %></strong></p>
  <p><%= @item.description %></p>

  <% if policy(@item).edit? %>
    <%= link_to "Update", edit_item_path(@item) %>
  <% end %>

  <% if policy(@booking).create? %>
    <h2>Booking Now</h2>
    <%= simple_form_for([@item, @booking]) do |f| %>
      <%= f.input :date_from, input_html: { id: 'date-from' }, as: :string %>
      <%= f.input :date_to, input_html: { id: 'date-to' }, as: :string %>
      <%= f.submit %>
    <% end %>
  <% end %>

  <%= javascript_pack_tag 'datepicker' %>

</div>
